<html>
<body>
<pre id="id-content">
</pre>
<input type="hidden" id="id-log" value="{{ log }}" />
<script type="text/javascript" src="{{ static_url('js/jquery-1.11.3.min.js') }}"></script>
<script type="text/javascript">
    var log_name = $("#id-log").val();
    var ws = new WebSocket("ws://{{ request.host }}/log/tail");
    ws.onopen = function(){
        console.log(log_name);
        ws.send(log_name);
    };
    $("#id-btn").click(function(){
        ws.send(log_name)
    })
    ws.onmessage = function(evt){
        $("#id-content").append(evt.data + "\n");
    }
</script>
</body>
</html>
