<html>
<body>
<a id="id-click" href="#bottom">click me</a>
<pre id="id-content">
</pre>
<div id="id-bottom"></div>
<input type="hidden" id="id-log" value="{{ log }}" />
<input type="hidden" id="id-type" value="{{ type }}" />
<input type="hidden" id="id-hostname" value="{{ hostname }}" />
<script type="text/javascript" src="{{ static_url('js/jquery-1.11.3.min.js') }}"></script>
<script type="text/javascript">
    var log_name = $("#id-log").val();
    var type = $("#id-type").val();
    var hostname = $("#id-hostname").val();

    var ws = new WebSocket("ws://{{ request.host }}/log/" + type);
    ws.onopen = function(){
        if (type === "local"){
            ws.send(log_name);
        } else {
            ws.send(hostname);
        }
    };
    ws.onmessage = function(evt){
        $("#id-content").append(evt.data + "\n");
        document.getElementById("id-bottom").scrollIntoView()
    }
</script>
</body>
</html>
