<html>
<head>
<link href="{{ static_url('public/css/public.css') }}" rel="stylesheet" />
<link href="{{ static_url('kylin/css/style.css') }}" rel="stylesheet" />
</head>
<body>
<div class="page" style="margin-left:10px;">
    <pre id="id-content">
    </pre>
    <div id="id-bottom"></div>
    <input type="hidden" id="id-log" value="{{ log }}" />
    <input type="hidden" id="id-type" value="{{ type }}" />
    <input type="hidden" id="id-hostname" value="{{ hostname }}" />
    <input type="hidden" id="id-cmd" value="{{ cmd }}" />
    <div class="btns btns_big">
        <button type="button" class="query_btn cancle" id="id-stop">Stop</button>
        <button type="button" class="query_btn commit" id="id-start">Start</button>
    </div>
</div>
<script type="text/javascript" src="{{ static_url('js/jquery-1.11.3.min.js') }}"></script>
<script type="text/javascript">
    var log_name = $("#id-log").val();
    var type = $("#id-type").val();
    var hostname = $("#id-hostname").val();
    var cmd = $("#id-cmd").val();

    var ws = new WebSocket("ws://{{ request.host }}/log/" + type);
    ws.onopen = function(){
        if (type === "local"){
            ws.send(log_name);
        } else {
            ws.send(hostname + "||" + log_name + "||" + cmd);
        }
    };

    var get_message = function(evt){
        $("#id-content").append(evt.data + "\n");
        document.getElementById("id-bottom").scrollIntoView()
    };
    ws.onmessage = get_message;
    $("#id-stop").click(function(){
        ws.onmessage = function(){};
    })
    $("#id-start").click(function(){
        ws.onmessage = get_message;
    })
</script>
</body>
</html>
